/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-dic-2017, 19:16:21
    Author     : Raquel
*/

.cajaProductos {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.tituloProducto {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.precioProducto {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.textoPrecio {
	font-weight:bold;
	font-size:1.4em;
}

#contenedorGatoGigante{
    align-content: center;
}